.cartWidget {
    font-size: 30px;
    color: #cd903c;
    text-decoration: none;

    &:hover {
        color: white;
    }

    .badge {
        border-radius: 50%;
        background-color: gray;
        color: white;
        font-size: .50em;
    }
}
