.btn-counter {
    font: 14px "Lato", sans-serif;
    letter-spacing: 1px;
    // background-color: #cd903c;
    color: black;
    border: 1px solid #cd903c;
    padding: 12px 12px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    margin: 0%;

    &:hover {
        background-color: #cd903c;
        color: white;
    }
}

.btn-input {
    font: 14px "Lato", sans-serif;
    letter-spacing: 1px;
    background-color: white !important;
    color: black;
    border-top: 1px solid #cd903c !important;
    border-bottom: 1px solid #cd903c !important;
    border-right: 0%;
    border-left: 0%;
    padding: 12px 12px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 0% !important;
    cursor: auto;
}