.listado {
    background: #f9f8f3;
    border: 1px solid #dbdbdb;
    padding: 60px 30px 47px;
    width: 400px;

    .bodega {
        font-size: 1.3em;
    }

    .nombre {
        font-size: 2em;
    }
    .precio {
        font-size: 1em;
    }
}