.itemListContainer {
    color: orange;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    color:#cd903c;
}
