.listado {
    background: #f9f8f3;
    border: 1px solid #dbdbdb;
    padding: 40px 30px 47px;
    width: 400px;

    .bodega {
        font-size: 1.3em;
    }

    .nombre {
        font-size: 2em;
    }
    .precio {
        font-size: 1em;
    }
}

.btn-volver {
    font: 14px "Lato", sans-serif;
    letter-spacing: 1px;
    color: gray;
    text-transform: uppercase;
}