.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: black;
    color: #cd903c;
    font-family: 'Lato', sans-serif;
    

    span {
        font-size: 40px;
        font-weight: 700;
    }
    nav {
        ul {
            display: flex;
            list-style: none;
            li {
                position: relative;
                white-space: nowrap;
                border-left: 1px solid #ddd;
                padding: 0 20px;
                text-transform: uppercase;
                vertical-align: middle;
                a {
                    color: #cd903c;
                    text-decoration: none;
                }
            }
        }
    }
}